<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbiao.mapper.OrderItemMapper">
    <insert id="addOrderItem">
        insert into t_order_item (id,order_id,spuid,skuid,title,price,num,money,pay_money,image)
            values (#{id},#{order_id},#{spuid},#{skuid},#{title},#{price},#{num},#{money},#{pay_money},#{image})
    </insert>
    <select id="findOrderItemByOrder_id" resultType="OrderItem">
        select * from t_order_item
            where order_id = #{order_id}
    </select>

</mapper>