<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbiao.mapper.PayMapper">
    <insert id="addPayInfo">
        insert into t_pay (order_id,username,transaction_id,total_amount,create_time)
            values (#{order_id},#{username},#{transaction_id},#{total_amount},#{create_time})
    </insert>
</mapper>