.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
.relative {
	position: relative;
}
.icon {
	background: url(http://127.0.0.1:10003/img/sprite-1.png);
	display: inline-block;
	font-style: normal;
}
.icon1 {
	background: url(http://127.0.0.1:10003/img/sprites.png);
	display: inline-block;
	font-style: normal;
}
a:hover {
	color: #666666;
}
input {
	outline: none;
}
body {
	background-color: #fafafa;
}
.logo .container .logo {
	margin: 30px 0 22px 100px;
}
.logo .container .title {
	margin: 30px 0 22px 0;
}
.content {
	background-color: white;
	border: 1px solid #f0f0f0;
	width: 990px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
}
.content .box {
	width: 350px;
	text-align:left;
	margin: 0 auto;
}
.content .title {
	font-size: 28px;
	margin: 40px;
	color: #000000;
	text-align: center;
}
 .content .username,
 .content .num,
 .content .password1,
  .content .password2 {
	width: 308px;
	height: 40px;
	border: 1px solid #eee;
	padding-left: 40px;
	font-size: 14px;
	margin: 0 auto;
	margin-bottom: 10px;
	/* display: block; */
}
.icon-phone {
	position: absolute;
	top: 13px;
	left: 15px;
	width: 12px;
	height: 16px;
	background-position: -576px -25px;
}
.content .verify-img {
	width: 350px;
	margin: 0 auto;
	margin-bottom: 10px;
}
 .content .verify {
	width: 210px;
	height: 40px;
	border: 1px solid #eee;
	padding-left: 40px;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.icon-defender {
	position: absolute;
	top: 12px;
	left: 15px;
	width: 13px;
	height: 15px;
	background-position: -576px 0;
}
 .content .verify-pic {
	display: inline-block;
	width: 92px;
	height: 40px;
	border: 1px solid #eee;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}
 .content .verify-msg {
	width: 350px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.icon-msg {
	position: absolute;
	top: 12px;
	left: 15px;
	width: 13px;
	height: 15px;
	background-position: -576px 0;
}
 .content .verify-msg .getcode {
	width: 80px;
	font-size: 14px;
	padding: 10px 6px;
	background-color: #FFFFFF;
	color: #666666;
	cursor: pointer;
	border: 1px solid #eee;
}
.icon-lock1 {
	position: absolute;
	top: 12px;
	left: 15px;
	width: 12px;
	height: 15px;
	background-position: -576px -51px;
}
.icon-lock2 {
	position: absolute;
	top: 12px;
	left: 15px;
	width: 12px;
	height: 15px;
	background-position: -576px -51px;
}
.icon-eyeopen1,
.icon-eyeopen2 {
	position: absolute;
	top: 12px;
	left: 320px;
	width: 16px;
	height: 16px;
	background-position: -188px -137px;
	cursor: pointer;
	display: none;
}
.icon-eyeclose1,
.icon-eyeclose2 {
	position: absolute;
	top: 12px;
	left: 320px;
	width: 16px;
	height: 16px;
	background-position: -142px -92px;
	cursor: pointer;
}
.content .person-num {
	width: 348px;
	height: 40px;
	border: 1px solid #eee;
	font-size: 14px;
	margin: 0 auto;
	padding-left: 10px;
	display: block;
	margin-bottom: 20px;
}
.content .register {
	background-color: #b32424;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	cursor: pointer;
}
.content .register a {
	color: white;
}
.content .validatePhone-alert,
.content .validateUsername-alert,
.content .username-alert,
.content .verify-alert,
.content .num-alert,
.content .password-alert,
.content .secondpsw-alert {
	margin-bottom: 10px;
	display: none;
}
.content .validatePhone-alert img,
.content .validateUsername-alert img,
.content .username-alert img,
.content .num-alert img,
.content .verify-alert img,
.content .password-alert img,
.content .secondpsw-alert img {
	display: inline-block;
	vertical-align: middle;
}
.content .validatePhone-alert span,
.content .validateUsername-alert span,
.content .username-alert span,
.content .num-alert span,
.content .verify-alert span,
.content .password-alert span,
.content .secondpsw-alert span {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	color: #B32424;
}

.content .docs a {
	color: black;
}
