<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>万表【官网】：甄选全球高品质腕表，买手表，上万表！</title>
	<!-- swiper css -->
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:10001/css/swiper.min.css" />
	<!-- 重置样式表 -->
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:10001/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:10001/css/index.css" />

</head>
<body>
<div id="app">
	<div class="said">
		<div class="said-bar">
			<!-- 悬浮 -->
			<div class="said-bottom">
				<a href='javascript:void(0)' @click='showCart' class="said-left">
					<i class="icon_said-bottom1"></i>
					<div class="words-cover">
						购物车
					</div>
				</a>
				<a href="vip/order-collect.html" class="said-left">
					<i class="icon_said-bottom2"></i>
					<div class="words-cover">
						我的收藏
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- top -->
	<div class="top">
		<div class="top-words container clearfix">
			<!-- top 左 -->
			<div class="top-left fl">
				<a href="index.html">正品保障，免息分期！</a>
			</div>
			<!-- top 右 -->
			<div class="top-right fr clearfix">
				<!-- 右 登录 -->
				<div class="top-login fl clearfix" v-if="flag">
					<a href="login.html">您好！&nbsp; {{user.username}}</a>
					<a href='javascript:void(0)' @click='logout'>退出</a>
				</div>
				<div class="top-login fl clearfix" v-else>
					<a href="http://www.wbiao.com/userPage/login.html">请登录</a>
					<a href="http://www.wbiao.com/userPage/register.html">注册</a>
				</div>
				<!-- 右 其他 -->
				<div class="top-others fl clearfix">
					<span class="line fl">|</span>
					<a href='javascript:void(0)' @click='showCart'>购物车</a>
				</div>
			</div>
		</div>
	</div>


	<!-- head -->
	<div class="head">
		<div class="head-wrap container clearfix">
			<div class="head-logo fl">
				<img src="http://127.0.0.1:10001/img/head-logo1.png">
				<img src="http://127.0.0.1:10001/img/head-logo2.png">
			</div>
			<form action="/search.html">
				<div class="head-search fl clearfix">
					<label class="srh-lab fl">
						<i class="icon_head-search"></i>
						<input type="text" name="keywords" class="srh-ipt" maxlength="30" />
					</label>
					<button type="submit" class="srh-btn fl">搜索</button>
				</div>
			</form>

		</div>
	</div>

	<!-- nav -->
	<div class="nav" id="nav">
		<div class="container clearfix">
			<div class="nav-left fl">
				<a href="/search.html" class="all-commodities clearfix">
					全部商品
					<i class="icon_nav-all fr"></i>
				</a>
				<ul class="nav-left-menu">
					<li class="menu-box" th:each="data:${brands}">
						<i class="menu-line fl"></i>
						<dl class="clearfix">
							<dt class="fl">
								<a href="javascript:;" th:text="${data.key}">
									<em>/</em>
								</a>

							</dt>
							<dd class="fl clearfix">
								<a th:href="@{/search.html(brand=${b.name})}" class="fl" th:each="b,bStat:${data.value}" th:if="${bStat.index} lt 3" th:text="${b.name}"></a>
							</dd>
							<dd class="sub-menu clearfix">
								<div class="col-box fl">
									<div class="col-brand">
										<div class="words">品牌</div>
										<div class="brand-list">
											<ul class="clearfix">
												<li class="fl" th:each="brand:${data.value}">
													<a th:href="@{/search.html(brand=${brand.name})}">
														<img th:src="${brand.image}">
														<p class="" th:text="${brand.name}"></p>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- main -->
	<div class="index-main">
		<!-- banner -->
		<div class="index-banner">
			<i class="top-shadow"></i>
			<!-- swiper -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="goods-list.html"><img src="http://127.0.0.1:10001/img/main-banner1.png"></a>
					</div>
					<div class="swiper-slide">
						<a href="goods-list.html"><img src="http://127.0.0.1:10001/img/main-banner1.png"></a>
					</div>
					<div class="swiper-slide">
						<a href="goods-list.html"><img src="http://127.0.0.1:10001/img/main-banner1.png"></a>
					</div>
					<div class="swiper-slide">
						<a href="goods-list.html"><img src="http://127.0.0.1:10001/img/main-banner1.png"></a>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next icon_banner-btn1"></div>
				<div class="swiper-button-prev icon_banner-btn2"></div>
			</div>

		</div>
		<!-- index-block -->
		<div class="index-block-list container">
			<!-- block12 -->
			<div class="index-block12 index-block">
				<div class="top-head clearfix">
					<h3 class="fl">猜你喜欢</h3>
				</div>
				<div class="block12-content">
					<ul>
						<li class="goods fl" th:each="goods,goodsStat:${likeData.rows}" th:if="${goodsStat.index} lt 12">
							<a th:href="'http://www.wbiao.com/goodsDetails/'+${goods.id}+'.html'" target="_blank" >
								<img th:src="${goods.image}" alt="" style="width: 180px;height: 140px;">
							</a>
							<div class="bottom-words">
								<div class="word1" th:text="${goods.brand}+品牌店"></div>
								<a th:href="'http://www.wbiao.com/goodsDetails/'+${goods.id}+'.html'">
									<div class="word2" th:utext="${#strings.abbreviate(goods.title,30)}" ></div>
									<div class="word3">
										<p class="p1">售价</p>
										<p class="p2" th:text="￥+${goods.price}"></p>
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 侧栏 -->

<!-- footer -->
<div class="footer">
	<div class="footer-top">
		<div class="container">
			<ul class="clearfix">
				<li class="fl">
					<a href="javascript:;" class="clearfix">
						<i class="icon_footer-top-1 fl"></i>
						<div class="top-wodrs fl">正品保障</div>
					</a>
				</li>
				<li class="fl">
					<a href="javascript:;" class="clearfix">
						<i class="icon_footer-top-2 fl"></i>
						<div class="top-wodrs fl">免息分期</div>
					</a>
				</li>
				<li class="fl">
					<a href="javascript:;" class="clearfix">
						<i class="icon_footer-top-3 fl"></i>
						<div class="top-wodrs fl">全球联保</div>
					</a>
				</li>
				<li class="fl">
					<a href="javascript:;" class="clearfix">
						<i class="icon_footer-top-4 fl"></i>
						<div class="top-wodrs fl">假一赔三</div>
					</a>
				</li>
				<li class="fl">
					<a href="javascript:;" class="clearfix">
						<i class="icon_footer-top-5 fl"></i>
						<div class="top-wodrs fl">终身售后</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-mid">
		<div class="container">
			<div class="mid-top clearfix">
				<div class="phone-num fl">
					<div class="phone-words">客服电话</div>
					<div class="phone-num1">400-883-2688</div>
					<div class="phone-num2">外呼电话 020-83931899</div>
					<a class="phone-btn">售后维修</a>
				</div>
				<div class="content fl">
					<ul class="clearfix">
						<li class="fl">
							<dl>
								<dt>新手指南</dt>
								<dd>
									<a href="register.html">注册新会员</a>
									<a href="javascript:;">购物流程</a>
									<a href="javascript:;">手表小知识</a>
									<a href="javascript:;">退换货流程</a>
								</dd>
							</dl>
						</li>
						<li class="fl">
							<dl>
								<dt>支 付</dt>
								<dd>
									<a href="javascript:;">支付方式</a>
									<a href="javascript:;">分期付款</a>
									<a href="javascript:;">发票说明</a>
									<a href="javascript:;">支付问题</a>
								</dd>
							</dl>
						</li>
						<li class="fl">
							<dl>
								<dt>配 送</dt>
								<dd>
									<a href="javascript:;">包裹签收</a>
									<a href="javascript:;">配送方式</a>
									<a href="javascript:;">配送说明</a>
									<a href="javascript:;">自提流程</a>
								</dd>
							</dl>
						</li>
						<li class="fl">
							<dl>
								<dt>万表保障</dt>
								<dd>
									<a href="javascript:;">正品保障</a>
									<a href="javascript:;">售后服务</a>
									<a href="javascript:;">价格保护</a>
									<a href="javascript:;">七天退换说明</a>
								</dd>
							</dl>
						</li>
						<li class="fl">
							<dl>
								<dt class="color">开放合作</dt>
								<dd>
									<a href="javascript:;">关于万表</a>
									<a class="color" href="#">商务合作</a>
									<a href="javascript:;">万表声明</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<div class="mid-bottom">
				<div class="corp">
					<ul>
						<li>万表网名表商城 版权所有 2009-2019 <a href="#">ICP备案证书号:粤ICP备09108738号</a> 网监备案:4401060103141</li>
						<li>广州市万表科技股份有限公司 地址:广州市番禺区番禺大道北60-1号</li>
						<li>Copyright 2009-2019 WWW.WBIAO.CN.LTD ALL RIGHT RESERVED.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="http://127.0.0.1:10001/js/jquery-3.4.1.min.js"></script>
<script src="http://127.0.0.1:10001/js/swiper.min.js"></script>
<script src="http://127.0.0.1:10001/js/vue.js"></script>
<script src="http://127.0.0.1:10001/js/axios.min.js"></script>

<script type="text/javascript">
	var app = new Vue({
		el: "#app",
		data: {
			user: null,
			flag: false,
			code : '',
			url: '',
			config: null
		},
		created() {
			const token = localStorage.getItem("token");
			if (token) {
				this.loadData(this.setData,token);
			}
		},
		methods: {
			loadData(callBack,token) {
				const config = {
					headers :{
						'Authorization' : 'Bearer '+token
					}
				}
				const url = "http://www.wbiao.com/user/loginUserinfo";
				getBookPromise()
						.then(res => {
							console.log(res)
							callBack(res.data,token,url,config); //callBack异步回调
						})
						.catch(res => {
							localStorage.removeItem("token");
							console.log(res);
						})
				function getBookPromise() {
					return new Promise((resolve, reject) => {
						axios.get(url, config)
								.then(res => {
									resolve(res)
								})
								.catch(res => {
									reject(res)
								})
					})
				}
			},
			setData(data,token,url,config) { //对数据做一些处理
				this.user = data.data;
				this.flag = true;
				this.code = token;
				this.url = url;
				this.config = config;
			},
			logout() {
				// 退出
				localStorage.removeItem("token")
				window.location = 'http://www.wbiao.com/userPage/login.html'
			},
			showCart(){
				if(this.code!=''){
					axios.get(this.url, this.config)
							.then(res => {
								const token = this.code;
								window.open('http://www.wbiao.com/cart?code='+token);
							})
							.catch(res => {
								window.open('http://www.wbiao.com/cart');
							})
				}else{
					window.open('http://www.wbiao.com/cart');
				}

			}
		}
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		// swiper banner
		var mySwiper = new Swiper('.index-banner .swiper-container', {
			loop: true, // 循环模式选项
			// 切换模式
			effect: 'fade',
			// 自动切换
			autoplay: {
				delay: 3000,
				disableOnInteraction: false,
			},
			// 分页器
			pagination: {
				el: '.index-banner .swiper-pagination',
				clickable: true,
				renderBullet: function(index, className) {
					return '<span class="' + className + '">' + (index + 1) + '</span>';
				},
			},
			// 如果需要前进后退按钮
			navigation: {
				nextEl: '.index-banner .swiper-button-next',
				prevEl: '.index-banner .swiper-button-prev',
			},
		});
		// banner按钮
		$(".index-banner .swiper-button-next").hover(function() {
			$(this).removeClass("icon_banner-btn1");
			$(this).addClass("icon_banner-btn11");
		}, function() {
			$(this).removeClass("icon_banner-btn11");
			$(this).addClass("icon_banner-btn1");
		});
		$(".index-banner .swiper-button-prev").hover(function() {
			$(this).removeClass("icon_banner-btn2");
			$(this).addClass("icon_banner-btn22");
		}, function() {
			$(this).removeClass("icon_banner-btn22");
			$(this).addClass("icon_banner-btn2");
		});
		// block2 swiper1
		var mySwiper = new Swiper('.index-block2 #buy-list1 .swiper-container', {
			slidesPerView: 3,
			spaceBetween: 0,
			slidesPerGroup: 3,
			// 循环模式选项
			loop: true,
			loopFillGroupWithBlank: true,
			// 自动切换
			autoplay: {
				delay: 5000,
				disableOnInteraction: false,
			},
			// 如果需要前进后退按钮
			navigation: {
				nextEl: '.index-block2 .buy-list .swiper-button-next',
				prevEl: '.index-block2 .buy-list .swiper-button-prev',
			},
		});
		// block2 swiper2
		var mySwiper = new Swiper('.index-block2 #buy-list2 .swiper-container', {
			slidesPerView: 4,
			spaceBetween: 0,
			slidesPerGroup: 4,
			// 循环模式选项
			loop: true,
			loopFillGroupWithBlank: true,
			// 自动切换
			autoplay: {
				delay: 5000,
				disableOnInteraction: false,
			},
			// 如果需要前进后退按钮
			navigation: {
				nextEl: '.index-block2 .buy-list .swiper-button-next',
				prevEl: '.index-block2 .buy-list .swiper-button-prev',
			},
		});
		// block swiper 按钮
		$(".index-block2 .buy-list .swiper-button-next").hover(function() {
			$(this).removeClass("icon_block2-btn3");
			$(this).addClass("icon_block2-btn11");
		}, function() {
			$(this).removeClass("icon_block2-btn11");
			$(this).addClass("icon_block2-btn1");
		});
		$(".index-block2 .buy-list .swiper-button-prev").hover(function() {
			$(this).removeClass("icon_block2-btn2");
			$(this).addClass("icon_block2-btn22");
		}, function() {
			$(this).removeClass("icon_block2-btn22");
			$(this).addClass("icon_block2-btn2");
		});
		// block2 swiper3
		var mySwiper = new Swiper('.index-block2 .buy-discount .swiper-container', {
			loop: true, // 循环模式选项
			// 切换模式
			effect: 'fade',
			// 自动切换
			autoplay: {
				delay: 5000,
				disableOnInteraction: false,
			},
			// 分页器
			pagination: {
				el: '.index-block2 .buy-discount .swiper-pagination',
				clickable: true,
				renderBullet: function(index, className) {
					return '<span class="' + className + '">' + (index + 1) + '</span>';
				},
			},
			// 如果需要前进后退按钮
			navigation: {
				nextEl: '.index-block2 .buy-discount .swiper-button-next',
				prevEl: '.index-block2 .buy-discount .swiper-button-prev',
			},
		});
		// block2 swiper3按钮
		$(".index-block2 .buy-discount .swiper-button-next").hover(function() {
			$(this).removeClass("icon_block2-btn3");
			$(this).addClass("icon_block2-btn33");
		}, function() {
			$(this).removeClass("icon_block2-btn33");
			$(this).addClass("icon_block2-btn3");
		});
		$(".index-block2 .buy-discount .swiper-button-prev").hover(function() {
			$(this).removeClass("icon_block2-btn4");
			$(this).addClass("icon_block2-btn44");
		}, function() {
			$(this).removeClass("icon_block2-btn44");
			$(this).addClass("icon_block2-btn4");
		});

		// 侧栏
		var tier_length = $(".said-right .said-tier").length;
		$(".said-talk").mouseover(function() {
			$(this).find(".talk-cover").css("display", "block");
			$(this).find(".talk-cover").stop(true).animate({
				opacity: 1,
				right: "75px"
			});
		});
		$(".said-talk").mouseout(function() {
			$(this).find(".talk-cover").stop(true).animate({
				opacity: 0
			}, function() {
				$(this).find(".talk-cover").attr("style", "display: none;");
			});
		});

		$(".said-talk .talk-cover b").click(function() { // 问题
			$(this).parents(".said-talk").find(".talk-cover").animate({
				opacity: 0
			}, function() {
				$(this).parents(".said-talk").find(".talk-cover").attr("style", "right: 30px;");
				$(this).parents(".said-talk").find(".talk-cover").attr("style", "display: none;");
			});
		});

		$(".said .said-bottom a").hover(function() {
			$(this).css("background-color", "#f1f1f1");
			$(this).find("div").stop(true).fadeIn(500, function() {
				$(this).find("div").attr("style", "display: block;");
			});
		}, function() {
			$(this).css("background-color", "");
			$(this).find("div").stop(true).fadeOut(500, function() {
				$(this).find("div").attr("style", "display: none;");
			});
		});

		$(".said-bottom").on("click", ".said-left", function() {
			// 获取点击的 a 的索引
			var a_index = $(this).index();
			$(this).css("background-color", "#333")
			$(this).parents(".said-bar").addClass("on");
			$(".said-right").addClass("show");
			$(".said-right .said-tier").eq(a_index).siblings().removeClass("show");
			$(".said-right .said-tier").eq(a_index).addClass("show");
		})

		$(".said-tier .tier-top i").click(function() {
			$(".said-bar").removeClass("on");
			$(".said-right").removeClass("show");
		});

		// 绿 banner 关闭
		$(".toptop .icon_top-close").click(function() {
			$(this).parents(".toptop").slideUp();
		});

		// top 客户服务动画 问题
		$(".top-right .top-sercice").hover(function() {
			$(this).find("a").eq(0).addClass("a-cover");
			$(this).find(".top-cover").css("display", "block");
			$(this).find(".top-cover").stop(true).animate({
				height: "123px"
			});
		}, function() {
			$(this).find(".top-cover").stop(true).animate({
				height: "0px"
			}, function() {
				$(this).find(".top-cover").attr("style", "display: none;");
			});
			$(this).find(".a-cover").removeClass("a-cover");
		});

		//    input点击
		$(".head-search input").click(function() {
			$(this).parent('label').siblings('.srh-hot').show();
		});

		//    input里面的内容改变时
		$('.head-search input').on('input propertychange', function() {
			$(this).siblings('span').hide();
			$(this).parent('label').siblings('.srh-hot').hide();
			if ($(this).val() == '') {
				$(this).siblings('span').show();
				$(this).parent('label').siblings('.srh-hot').show();
			}
		});

		//    input 失去焦点的时候
		$(".head-search input").blur(function() {
			$(this).parent('label').siblings('.srh-hot').hide();
		});

		// nav
		$(".nav-left .nav-left-menu .menu-box").hover(function() {
			$(this).find(".menu-line").css("display", "inline-block");
			$(this).css("background-color", "#fff");
			$(this).find(".sub-menu").css("display", "block");
		}, function() {
			$(this).find(".menu-line").css("display", "none");
			$(this).css("background-color", "");
			$(this).find(".sub-menu").css("display", "none");
		});
		// 鼠标滚轮 nav-float
		$(document).scroll(function() {
			var top = $(this).scrollTop();
			var nav_top = $("#nav").offset().top;
			if (top > 206) {
				$(".nav-float").css("display", "block");
			} else {
				$(".nav-float").css("display", "none");
			}
		});
		// float-seach 点击
		$(".nav-float .float-search").click(function() {

		});

	});
</script>
</body>
</html>
