<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbiao.mapper.SpecMapper">
    <select id="selectSpec" resultType="Spec">
        select * from t_spec_param
    </select>

    <insert id="addSkuSaleVal">
        insert into t_sku_sale_val (spuid,skuid,image,salaVal)
            values(#{spuid},#{skuid},#{image},#{salaVal})
    </insert>

    <update id="updateSkuSaleVal">
        update t_sku_sale_val set image = #{image},salaVal=#{salaVal}
            where skuid = #{skuid}
    </update>

    <select id="selectAllBySpuid" resultType="SkuSaleVal">
        select * from t_sku_sale_val
            where spuid = #{spuid}
    </select>

    <select id="selectAllSpecGroup" resultType="SpecGroup">
        select * from t_spec_group
    </select>

    <select id="selectSpecByGroupId" resultType="Spec">
        select * from t_spec_param
            where group_id = #{group_id}
    </select>
</mapper>