.container {
    width: 990px;
}

body {
    background-color: #f1f1f1;
}

.inline-block {
    display: inline-block;
}

.middle {
    vertical-align: middle;
}

.icon {
    background-size: 220px;
    display: inline-block;
    background: url(http://127.0.0.1:10004/img/ia_200000038.png) no-repeat;
}

.icon-bd {
    display: inline-block;
    background: url(http://127.0.0.1:10004/img/sprites.png) no-repeat;
}

/* 绿 banner */
.toptop .toptop-banner {
    background-color: #016870;
    height: 60px;
    position: relative;
}

.toptop .toptop-banner i {
    position: absolute;
    margin-top: -16px;
    top: 50%;
    right: 44px;
    display: block;
    z-index: 5;
}

.toptop .toptop-banner a {
    display: block;
    text-align: center;
}

.icon_top-close {
    background-image: url(http://127.0.0.1:10004/img/index-sprites2.png);
    background-size: 589px;
    background-position: -456px -414px;
    width: 32px;
    height: 32px;

}

/* top */
.top {
    background-color: #fff;
    border: 1px solid #eee;
}

.top .top-words {
    padding: 0 10px;
    line-height: 28px;

}

.top .top-left a {
    color: #998c59;
}

.top .top-right a {
    color: #999999;
    padding: 0 6px;
    float: left;
    display: block;
    font-size: 11px;
    font-weight: 400;
}

.top .top-right a:hover {
    color: #333;
    text-decoration: underline;
}

.top-right .top-others .line {
    margin: 0 6px;
    color: #DDDDDD;
}

.top-right .top-others .top-sercice {
    position: relative;
}

.top-right .top-others .top-sercice a {
    height: 26px;
    margin-top: 1px;
    line-height: 25px;
    float: left;
    text-align: center;
    position: relative;
}

.top-right .top-others .top-sercice a.a-cover {
    margin: 0;
    padding: 0 9px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.top-right .top-sercice a.a-cover:after {
    content: "";
    width: 66px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 5;
}

.top-right .top-others .top-sercice .top-cover {
    width: 196px;
    /* height: 123px; */
    height: 0;
    position: absolute;
    top: 28px;
    right: 0;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 21px 17px;
    line-height: 12px;
    display: none;
    z-index: 10;
}

.top-sercice .top-cover .cover-words .line {
    margin-top: 4px;
    padding-top: 20px;
    border-top: 1px solid #CCCCCC;
}

.top-sercice .top-cover .cover-words a {
    width: 95px;
    height: 28px;
    padding: 0;
    color: #636363;
    line-height: 12px;
}

.top-sercice .top-cover .cover-words .phone {
    width: 178px;
    text-align: center;
    color: #999999;
    padding-bottom: 17px;
}

/*头部*/
.pt-head {
    background-color: #fff;
    height: 115px;
    width: 100%;
}

/*左头部*/
.pt-head .head-left {
    margin-top: 18px;
    margin-left: 45px;
}

/*右头部*/
.pt-head .head-right {

}

/*ul线*/
.pt-head .head-right .shop:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 500px;
    background-color: #eee;
    position: absolute;
    top: -1px;
    left: 120px;
}

/*购物表头*/
.pt-head .head-right .shop {
    position: relative;
    margin-top: 50px;
    padding-top: 10px;
}

/*当前状态*/
.pt-head .head-right .shop .on span {
    color: #cc5252;
    font-size: 14px;
}

/*li*/
.pt-head .head-right .shop li {
    margin-left: 100px;
    position: relative;
}

.pt-head .head-right .shop li span {
    font-size: 12px;
    color: #999999;
}

.pt-head .head-right .shop li i {
    position: absolute;
    display: inline-block;
    margin-left: -4px;
    border-radius: 50%;
    z-index: 2;
    top: -17px;
    left: 50%;
}

.pt-head .head-right .shop li .icon-01 {
    width: 16px;
    height: 16px;
    background: #cc5252;
    top: -19px;
}

.pt-head .head-right .shop li .icon-02, .icon-03 {
    width: 8px;
    height: 8px;
    border: 2px solid #ccc;
}

.pt-head .head-right .shop li .icon-03 {
    left: 53px;
}

/*购物车的内容*/
.main {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 50px;
}

.shop-wrap .title {
    color: #333333;
    font-weight: 600;
}

/*nav*/
.shop-wrap .shop-nav {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}

/*左侧nav*/
/*全选框*/
.shop-wrap .shop-nav dl .check {
    margin-left: 15px;
    margin-right: 20px;
}

.shop-wrap .shop-nav dl .check .icon-all1 {
    background-position: -576px -255px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.shop-wrap .shop-nav dl .check .icon-all2 {
    background-position: -576px -233px;
    width: 12px;
    height: 12px;
    display: none;
    vertical-align: middle;
}

/*nav 名称*/
.shop-wrap .shop-nav dl dd {
    font-size: 14px;
    margin-right: 80px;
}

/*右侧nav*/
.shop-wrap .shop-nav ul li {
    font-size: 14px;
    width: 144px;
    text-align: center;
}

/*<!--购物车商品-->*/
.shop-wrap .shop-floor {
    margin-top: 20px;
    border: 1px solid #eee;
}

.shop-wrap .shop-floor .top {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    background-color: #f1f1f1;
}

/*商铺全选框*/
.shop-wrap .shop-floor .top .store {
    margin-left: 15px;
    margin-right: 20px;
}

.shop-wrap .shop-floor .top .icon-sure1 {
    background-position: -576px -255px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.shop-wrap .shop-floor .top .icon-sure2 {
    background-position: -576px -233px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: none;
}

.shop-wrap .shop-floor .top a {
    font-size: 14px;
    color: #666;
    font-weight: 600;

}

/*商品信息*/
.shop-wrap .shop-floor .goods-floor {
    height: 120px;
}

/*商品单个确定框*/
.shop-wrap .shop-floor .goods-floor .sure {
    width: 14px;
    display: block;
    height: 120px;
    line-height: 120px;
    margin-left: 15px;
    margin-right: 20px;
}

.shop-wrap .shop-floor .goods-floor .icon-sure1 {
    background-position: -576px -255px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
}

.shop-wrap .shop-floor .goods-floor .icon-sure2 {
    background-position: -576px -233px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: none;

}

/*商品图片信息*/
.shop-wrap .shop-floor .goods-floor .goods .photo {
    margin-top: 15px;
    width: 90px;
    height: 90px;
    text-align: center;
}

.shop-wrap .shop-floor .goods-floor .goods .photo img {
    width: auto;
    height: 90px;
    display: inline-block;
}

/*商品的名字和信息*/
.shop-wrap .shop-floor .goods-floor .info {
    width: 250px;
    margin-top: 25px;
    margin-left: 10px;
}

.shop-wrap .shop-floor .goods-floor .info .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.shop-wrap .shop-floor .goods-floor .info .style {
    color: #999999;
    font-size: 12px;
}

/*价格信息*/
.shop-floor .goods-floor .goods ul {
    margin-top: 25px;
    margin-left: 24px;
}

.shop-floor .goods-floor .goods ul li {
    display: block;
    float: left;
    width: 120px;
    color: #666;
    text-align: center;

}

/*单个价格*/
.shop-floor .goods-floor .goods ul li em {
    font-style: normal;
}

/*数量*/
.shop-floor .goods-floor .goods ul .goods-num {
    margin-left: 40px;
}

.shop-floor .goods-floor .goods ul .goods-num .reduce {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #eee;
    border-right: 0px;
    font-size: 14px;
    cursor: pointer;
}

.shop-floor .goods-floor .goods ul .goods-num input {
    float: left;
    display: inline-block;
    width: 44px;
    height: 16px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 16px;
    outline: 0;
}

.shop-floor .goods-floor .goods ul .goods-num .add {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #eee;
    border-left: 0px;
    font-size: 14px;
    cursor: pointer;
}

/*操作*/
.shop-floor .goods-floor .goods ul .others {
    margin-left: 30px;
}

.shop-floor .goods-floor .goods ul .others span {
    display: inline-block;
    width: 120px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}

/*购物车底部*/
.shop-wrap .shop-bottom {
    margin-top: 40px;
    height: 60px;
    background-color: #F1F1F1;
}

/*全选框*/
.shop-wrap .shop-bottom ul li {
    line-height: 60px;
}

.shop-wrap .shop-bottom .tik {
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.shop-wrap .shop-bottom .tik .icon-all1 {
    background-position: -576px -255px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.shop-wrap .shop-bottom .tik .icon-all2 {
    background-position: -576px -233px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: none;
}

/*全选*/
.shop-wrap .shop-bottom .all {
    margin-right: 28px;
    width: 24px;
}

.shop-wrap .shop-bottom .all a {
    font-size: 12px;
    color: #666;
    outline: 0;
    display: inline-block;
}

/*删除*/
.shop-wrap .shop-bottom .delete {
    margin-right: 28px;
    width: 24px;
}

.shop-wrap .shop-bottom .delete a {
    font-size: 12px;
    color: #666;
    outline: 0;
    display: inline-block;
}

/*移入*/
.shop-wrap .shop-bottom .edit {
    margin-right: 28px;
    width: 48px;
}

.shop-wrap .shop-bottom .edit a {
    font-size: 12px;
    color: #666;
    outline: 0;
    display: inline-block;
}

/*清除*/
.shop-wrap .shop-bottom .lucid {
    margin-right: 28px;
    width: 72px;
}

.shop-wrap .shop-bottom .lucid a {
    font-size: 12px;
    color: #666;
    outline: 0;
    display: inline-block;
}

/*已选商品*/
.shop-bottom .num {
    width: 69px;
    color: #666;
    line-height: 60px;
    margin-left: 133px;
    font-size: 12px;
    margin-right: 28px;
}

.shop-bottom .num span {
    font-size: 12px;
    color: #cc5252;
}

/*总价*/
.shop-wrap .shop-bottom .price {
    line-height: 60px;
    text-align: right;
    margin-right: 28px;
}

.shop-wrap .shop-bottom .price i {
    font-style: normal;
}

.shop-wrap .shop-bottom .price .total-1 {
    font-size: 14px;
    color: #666;
    height: 18px;
    line-height: 18px;
    margin-top: 10px;
}

.shop-wrap .shop-bottom .price .total-1 span {
    color: #cc5252;
}

.shop-wrap .shop-bottom .price .total-2 {
    font-size: 12px;
    color: #666;
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
}

/*结算按钮*/
.shop-wrap .shop-bottom .btn {

}

.shop-wrap .shop-bottom .btn a {
    display: inline-block;
    height: 60px;
    width: 180px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    background-color: #cc5252;
}

/*收藏提示框*/
.layui-layer-dialog {
    width: 400px !important;
    height: 200px;
    background: #fff;
    border-radius: 8px;
}

/*表头*/
.layui-layer-dialog .layui-layer-title {

    background-color: #fff;
    border-radius: 8px 8px 0 0;
    height: 36px;
    line-height: 36px;
}

.layui-layer-dialog .layui-layer-content {
    font-weight: 600;
    font-size: 18px !important;
    color: #333333;
    margin-left: 20px;
}

/*取消 确定按钮*/
.layui-layer-dialog .layui-layer-btn {
    margin-top: 15px;
}

.layui-layer-dialog .layui-layer-btn a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
}

.layui-layer-dialog .layui-layer-btn .layui-layer-btn0 {
    width: 48px;
    color: #999;
    border: 1px solid #ddd;
}

.layui-layer-dialog .layui-layer-btn .layui-layer-btn1 {
    color: #fff;
    background-color: #cc5252;
    border: 1px solid #cc5252;
    font-weight: 600;
    width: 98px;
}

/*空购物车*/
.empty-shop {
    text-align: center;
    background-color: #fff;
    padding: 110px 0px;
    display: none;
}

.empty-shop .icon-car {
    background-position: 0 -112px;
    width: 82px;
    height: 84px;
}

.empty-shop .info {
    font-size: 18px;
    color: #666666;
    text-align: center;
    margin-top: 20px;
}

.empty-shop .car-btn {
    margin-top: 47px;
}

.empty-shop .car-btn a {
    display: inline-block;
    height: 34px;
    width: 100px;
    line-height: 34px;
    font-size: 14px;
    margin: 0px 9px;
    border: 1px solid #cc5252;
    border-radius: 17px;
}

.empty-shop .car-btn .go-shopping {
    background-color: #cc5252;
    color: #fff;
}

.empty-shop .car-btn .look-collect {
    background-color: #fff;
    color: #cc5252;
}

/*未登录购物车*/
.notLogged-shop {
    text-align: center;
    background-color: #fff;
    padding: 110px 0px;
}

.notLogged-shop .icon-car {
    background-position: 0 -112px;
    width: 82px;
    height: 84px;
}

.notLogged-shop .info {
    font-size: 18px;
    color: #666666;
    text-align: center;
    margin-top: 20px;
}

.notLogged-shop .car-btn {
    margin-top: 47px;
}

.notLogged-shop .car-btn a {
    display: inline-block;
    height: 34px;
    width: 100px;
    line-height: 34px;
    font-size: 14px;
    margin: 0px 9px;
    border: 1px solid #cc5252;
    border-radius: 17px;
}

.notLogged-shop .car-btn .go-shopping {
    background-color: #cc5252;
    color: #fff;
}

.notLogged-shop .car-btn .look-collect {
    background-color: #fff;
    color: #cc5252;
}
/* footer */
.icon_footer-top-1 {
    display: block;
    background-image: url(http://127.0.0.1:10004/img/index-sprites2.png);
    background-size: 589px;
    background-position: -409px -357px;
    width: 38px;
    height: 38px;
}

.icon_footer-top-2 {
    display: block;
    background-image: url(http://127.0.0.1:10004/img/index-sprites2.png);
    background-size: 589px;
    background-position: 0 -414px;
    width: 38px;
    height: 38px;
}

.icon_footer-top-3 {
    display: block;
    background-image: url(http://127.0.0.1:10004/img/index-sprites2.png);
    background-size: 589px;
    background-position: -361px -357px;
    width: 38px;
    height: 38px;
}

.icon_footer-top-4 {
    display: block;
    background-image: url(http://127.0.0.1:10004/img/index-sprites2.png);
    background-size: 589px;
    background-position: -313px -357px;
    width: 38px;
    height: 38px;
}

.icon_footer-top-5 {
    display: block;
    background-image: url(http://127.0.0.1:10004/img/index-sprites2.png);
    background-size: 589px;
    background-position: -265px -357px;
    width: 38px;
    height: 38px;
}


/* footer */
.footer .footer-top .container {
    width: 1200px;
}

.footer .footer-top {
    border-top: 1px solid #eee;
    background-color: #fff;

}

.footer .footer-top ul li {
    width: 240px;
    text-align: center;
    padding: 17px 0 15px 0;
}

.footer .footer-top ul li a {
    display: block;
    width: 108px;
    margin: 0 auto;
}

.footer .footer-top ul li .top-wodrs {
    padding-left: 8px;
    line-height: 38px;
    font-size: 14px;
    color: #666;
}

.footer .footer-mid {
    background-color: #333;
    padding-top: 45px;
}
.footer .footer-mid .container{
    width: 1200px;
}
.footer .footer-mid .mid-top {
    padding-bottom: 78px;
}

.footer .footer-mid .mid-top .phone-num {
    padding-right: 120px;
}

.footer .footer-mid .mid-top .phone-num .phone-words {
    color: #ccaa7a;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 20px;
}

.footer .footer-mid .mid-top .phone-num1 {
    color: #ccaa7a;
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 7px;
}

.footer .footer-mid .mid-top .phone-num2 {
    color: #999;
    line-height: 14px;
    padding-bottom: 18px;
}

.footer .footer-mid .mid-top .phone-num .phone-btn {
    width: 132px;
    color: #999;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #999;
    border-radius: 100px;
    display: block;
}

.footer .footer-mid .mid-top .phone-num .phone-btn:hover {
    background-color: #ccaa7a;
    color: #fff;
    border-color: #ccaa7a;
}

.footer .footer-mid .mid-top .content {
    padding-right: 188px;
}

.footer .footer-mid .mid-top .content ul li {
    width: 104px;
}

.footer .footer-mid .mid-top .content ul li dl dt {
    font-size: 14px;
    line-height: 14px;
    color: #ccc;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer .footer-mid .mid-top .content ul li dl dd a {
    display: block;
    color: #999;
    line-height: 14px;
    padding-bottom: 15px;
}

.footer .footer-mid .mid-top .content ul li dl dd a:hover {
    color: #FFFFFF;
}

.footer .footer-mid .mid-top .content ul li dl .color {
    color: #CCAA7A;
}

.footer .footer-mid .mid-bottom {
    text-align: center;
}

.footer .footer-mid .mid-bottom .friend-link {
    padding-bottom: 50px;
}

.footer .footer-mid .mid-bottom .friend-link ul,
.footer .footer-bottom .friend-link ul {
    display: inline-block;
}

.footer .footer-mid .mid-bottom .friend-link ul li,
.footer .footer-bottom .friend-link ul li {
    padding: 0 10px;
}

.footer .footer-mid .mid-bottom .friend-link ul li a,
.footer .footer-bottom .friend-link ul li a {
    color: #999;
}

.footer .footer-mid .mid-bottom .friend-link ul li a:hover,
.footer .footer-bottom .friend-link ul li a:hover {
    color: #ccc;
}

.footer .footer-mid .mid-bottom .corp {
    padding-bottom: 25px;
    text-align: center;
}

.footer .footer-mid .mid-bottom .corp ul li {
    padding-bottom: 17px;
    color: #999;
    line-height: 12px;
}

.footer .footer-mid .mid-bottom .corp ul li a {
    color: #666;
}

.footer .footer-bottom {
    text-align: center;
    background-color: #eee;
}

.footer .footer-bottom .bottom-img {
    padding-top: 25px;
    padding-bottom: 30px;
}

.footer .footer-bottom .bottom-img img {
    padding: 0 10px;
}

.footer .footer-bottom .friend-link {
    padding-bottom: 45px;
}